<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870569251059-6cla5de5t298n5b3hpc6ap8o7sunjfiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870569251059-6cla5de5t298n5b3hpc6ap8o7sunjfiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCcWwuxaFhSdhNKC_4OME_Y0DisstxG_eM</string>
	<key>GCM_SENDER_ID</key>
	<string>870569251059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.emmieohnuki.HackMIT-iOS</string>
	<key>PROJECT_ID</key>
	<string>hackmit-10fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>hackmit-10fd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870569251059:ios:61b74a32c70dfc8b3d2786</string>
	<key>DATABASE_URL</key>
	<string>https://hackmit-10fd7.firebaseio.com</string>
</dict>
</plist>